requests==2.9.1
tensorflow_gpu==1.8.0
Keras==2.1.6
Flask_Mail==0.9.1
SQLAlchemy==1.1.6
opencv_python==3.4.0.14
keras_contrib==2.0.8
numpy==1.14.3
matplotlib==2.2.2
scipy==1.1.0
Flask==1.0.2
Flask_SQLAlchemy==2.2
Pillow==5.1.0
beautifulsoup4==4.6.0
tensorflow==1.8.0
