{% extends "index.html" -%}

{% block header -%}
<div class="banner_header_top_wthree">
  <div class="agileits-logo">
    <h1><a href="index.html"> <i class="fa fa-scissors" aria-hidden="true"></i> FashioNet</a></h1>
  </div>
  <div class="header-top_agileits">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header navbar-left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
  <nav class="link-effect-2" id="link-effect-2">
          <ul class="nav navbar-nav">
            <li class="active" class="scroll"><a href="{{ url_for('models.display') }}"><span data-hover="Home">Home</span></a></li>
          </ul>
  </nav>
    <div class="w3_agile_phone">
    <p><i class="fa fa-phone" aria-hidden="true"></i> +91 9898989898</p>
    </div>
  </div>
  </nav>

    </div>
  </div>
</div>
{% endblock header -%}

{% block content -%}

<!-- //testimonials-->
      <!--contact-->
      <div class="contact-w3layouts" id="contact">
        <div class="container">
          <h3 class="w3l_header w3_agileits_header two">Control <span>Panel</span></h3>
          <div class="agile_wthree_inner_grids">
            <div class="col-md-6 contact-agileits-w3layouts-left">
              <h4 class="agile_sub_tittle">Instructions</h4>
              <p class="para-agileits-w3layouts">Specify the number of images needed. Use the "Unique?" option
              to generate an entirely new set from scratch. However remember you will lose the
              images you previously loaded.</p>
            </div>
            <div class="col-md-6 mail-grid1-form ">
              <h4 class="agile_sub_tittle">Number of Images</h4>
              <form action="{{ url_for('models.get_images') }}" method="post">
                <input type="text" name="number" placeholder="" required="" />
                <input type="checkbox" name="unique" style="margin-bottom:1em;"><span class="agile_sub_tittle2">  Unique?</span></input>
                <br/>
                <br/>
                <input type="submit" value="Submit" />
              </form>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!--//contact-->

  <!-- /gallery -->
  <div class="gallery" id="gallery">
    <h3 class="w3l_header w3_agileits_header two">Our <span>Designs</span></h3>
    <div class="agile_wthree_inner_grids">
      <div class="agile_port_w3ls_info">
        <div class="col-md-6 agile_gallery_grid_left">
          {% for i in range(number1) %}
          <div class="col-md-6 agile_gallery_grid">
            <img src="{{ url_for('static' , filename='final-images/' + filenames[i]) }}" data-darkbox="{{ url_for('static' , filename='final-images/' + filenames[i]) }}" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          {% endfor %}
        </div>

          <div class="col-md-6 agile_gallery_grid_left">
          {% for i in range(number1, number2) %}
          <div class="col-md-6 agile_gallery_grid">
            <img src="{{ url_for('static' , filename='final-images/' + filenames[i]) }}" data-darkbox="{{ url_for('static' , filename='final-images/' + filenames[i]) }}" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          {% endfor %}
        </div>
      </div>
        <div class="clearfix"> </div>

      </div>
      <!-- //gallery -->
    </div>
    </div>

{% endblock content -%}
