{% extends "index.html" -%}
{% block content -%}

  <!-- /gallery -->
  <div class="gallery" id="gallery">
    <h3 class="w3l_header w3_agileits_header two">Our <span>Designs</span></h3>
    <div class="agile_wthree_inner_grids">
      <div class="agile_port_w3ls_info">
        <div class="col-md-6 agile_gallery_grid_left">
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/0.jpg" data-darkbox="images/0.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/1.jpg" data-darkbox="images/1.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/2.jpg" data-darkbox="images/2.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
        </div>
        <div class="col-md-6 agile_gallery_grid_left">

          <div class="col-md-6 agile_gallery_grid">
            <img src="images/3.jpg" data-darkbox="images/3.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/4.jpg" data-darkbox="images/4.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/5.jpg" data-darkbox="images/5.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/6.jpg" data-darkbox="images/6.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/7.jpg" data-darkbox="images/7.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/8.jpg" data-darkbox="images/8.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/9.jpg" data-darkbox="images/9.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/10.jpg" data-darkbox="images/10.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/11.jpg" data-darkbox="images/11.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/12.jpg" data-darkbox="images/12.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/13.jpg" data-darkbox="images/13.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
          <div class="col-md-6 agile_gallery_grid">
            <img src="images/14.jpg" data-darkbox="images/14.jpg" data-darkbox-description="<b>Add Short description</b><br>Lorem ipsum dolor sit amet">
          </div>
        </div>
        <div class="clearfix"> </div>

      </div>
      <!-- //gallery -->
    </div>
    </div>
  </div>
{% endblock content -%}
